---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Epic The Musical - Chile" />
    <meta name="keywords" content="Epic, The Musical, Chile, Fan Club" />
    <meta name="author" content="Epic The Musical - Chile" />
    <meta name="theme-color" content="#000000" />
    <title>Epic Chile</title>
  </head>
  <body>
    <slot />
  </body>
</html>
